header{
    width: 70%;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
header .max{
    width: 100%;
    display: flex;
    align-items: center;
}
header .max .desktop{
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: space-between;
}
header .max img{
    margin-top: 12px;
}
header .mobile{
    display: none;
}
header .mobile #hamburguer{
    display: none;
}
.dropIn{
    display: flex;
    animation: dropIn .3s;
}
.dropOut{
    display: none;
    animation: dropOut .3s;
}
header .max .desktop nav{
    display: flex;
}
header .max nav a{
    text-decoration: none;
    color: var(--dark-blue); 
    margin: 0 15px;
    font-size: .8rem;
}
header .max nav a h3{
    transition: .3s;
}
header .max nav a:hover h3{
    color:  #7e88ad;
}
header .max .btn a{
    text-decoration: none;
}

@keyframes dropIn{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes dropOut{
    from{
        transform: translateY(0);
        opacity: 0;
    }
    to{
        transform: translateY(-100);
        opacity: 1;
    }
}

