#landing .max{
    display: flex;
    height: 600px;
}
#landing .descrip{
    height: 100%;
    width: 50%;
    padding: 10% 0;
}
#landing .descrip h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 55px;
    padding-right: 20px;
    margin-bottom: 40px;
}
#landing .descrip h3{
    font-weight: 400;
    color: var(--dark-greyish-blue);
    padding-right: 20px;
    margin-bottom: 60px;
}
#landing .descrip .btn a{
    text-decoration: none;
}
#landing .intro{
    width: 50%;
}